{% extends "base.html" %}
{% block title %}AnytimeEvent{% endblock %}
{% block content %}
          <div class="hero-unit">
            <h1>Add Event</h1>
            <form action="" method="post">
                   {% csrf_token %}
            	<table>
            	    {{ form.as_table }}
            	</table>
            <input type="submit" value="Submit">
            <h1>Event Search</h1>
            <p>This is a place holder for the event search for a consumer of content</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
{% endblock %}